<!-- RBE-3002-B18 Lab 4 Robot Demonstration -->
<launch>

	<!-- Arguments -->
	<arg name="grid_size"   	default="0.015" 	doc="Gmapping grid cell width"/>
	<arg name="drive_speed" 	default="0.05" 		doc="Max drive speed in meters per second"/>
	<arg name="turn_speed"		default="1.00" 		doc="Max turn speed in radians per second"/>
	<arg name="cspace_radius" 	default="0.12" 		doc="C-space wall-expansion radius in meters"/>
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger]"/>

	<!-- Connect to Robot -->
	<include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
		<arg name="model" value="$(arg model)" />
	</include>
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="50.0"/>
	</node>

	<!-- Gmapping Node -->
	<node name="gmapping" type="slam_gmapping" pkg="gmapping" output="log">
		<param name="scan" 			 	value="/scan"				/>
		<param name="maxUrange" 		value="3.0"					/>
	    <param name="sigma" 			value="0.05"				/>
	    <param name="kernelSize" 		value="1"					/>
	    <param name="lstep" 			value="0.05"				/>
	    <param name="astep" 			value="0.05"				/>
	    <param name="iterations" 		value="5"					/>
	    <param name="lsigma" 			value="0.075"				/>
	    <param name="ogain" 			value="3.0"					/>
	    <param name="lskip" 			value="0"					/>
	    <param name="minimumScore" 		value="200"					/>
	    <param name="srr" 				value="0.1"					/>
	    <param name="srt" 				value="0.2"					/>
	    <param name="str" 				value="0.1"					/>
	    <param name="stt" 				value="0.2"					/>
	    <param name="linearUpdate" 		value="0.15"				/>
	    <param name="angularUpdate" 	value="0.2"					/>
	    <param name="temporalUpdate" 	value="0.5"					/>
	    <param name="resampleThreshold" value="0.5"					/>
	    <param name="particles" 		value="400"					/>
	    <param name="xmin" 				value="-2.5"				/>
	    <param name="ymin" 				value="-2.5"				/>
	    <param name="xmax" 				value="2.5"					/>
	    <param name="ymax" 				value="2.5"					/>
	    <param name="delta"     	 	value="$(arg grid_size)" 	/>
	    <param name="llsamplerange" 	value="0.01"				/>
	    <param name="llsamplestep" 		value="0.01"				/>
	    <param name="lasamplerange" 	value="0.005"				/>
	    <param name="lasamplestep" 		value="0.005"				/>
	</node>

  	<!-- Navigation Launch File -->
	<include file="$(find lab4)/launch/lab4_nav.launch">
		<arg name="grid_size" 		value="$(arg grid_size)"/>
		<arg name="drive_speed" 	value="$(arg drive_speed)"/>
		<arg name="turn_speed"		value="$(arg turn_speed)"/>
		<arg name="cspace_radius"	value="$(arg cspace_radius)"/>
	</include>
	
</launch>
